*{
    margin: 0;
    font-family: sans-serif;
}
.header{
    background-image: url(./img/bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 750px;
}
.q1{
    display: flex;
    color: white;
    justify-content: center;
    gap: 150px;
    position: relative;
}
.q2{
    display: flex;
    gap: 30px;
}
.q3{
    display: flex;
    gap: 30px;
    align-items: center;
    position: relative;
    top: 30px;
}
.qq1{
    background-color: #9B51E0;
    padding: 10px;
    text-align: center;
    border-radius: 0px 0px 10px 10px ;
}
.qq2{
    background-color: rgba(202, 202, 202, 0.262);
    padding: 20px 10px;
    border-radius: 0px 0px 10px 10px;

}
.qq3{
    display: flex;
    gap: 5px;
    font-weight: 700;
}
.qq4{
    position: relative;
    bottom: 50px;
    left: 150px;
    top: px;
}
.q4{
    display: flex;
    justify-content: center;
    gap: 130px;
    margin-top: 30px;
}
.w1{
    width: 360px;
}
.qb{
    border: 3px solid white;
    color: white;
    background-color: #F2994A;
    padding: 10px;
    border-radius: 20px;
    width: 150px;
}
.qh1{
    color: white;
}
.qimg{
    width: 700px;
    position: relative;
    bottom: 200px;

}
.order{
    width: 300px;
    font-size: 20px;
    text-align: justify;
    margin-top: 10px;
   
  
}
.block1{
    display: flex;
    justify-content: space-evenly;
     border-bottom: solid 2px rgba(0, 0, 0, 0.319);
     padding: 30px;
}
.p1{
    display: flex;
    justify-content: center;
    gap: 400px;
    position: relative;
    left: -130px;
    bottom: 20px;
}
.d1{
    width: 200px;
    height: 300px;
    box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.158);
    border-radius: 10px;
    padding: 10px;

}
.d2{
    width: 150px;
    height: 150px;
    border: 3px solid #F2994A;
    border-radius: 100px;
    margin: auto;


}
.d3{
    padding: 10px;
    text-align: center;
    font-size: 18px;
    margin-top: 8px;
    color: rgba(0, 0, 0, 0.768);
}
.d4{
    width: 180px;
    position: relative;
    left: -25px;
    bottom: 30px;

    
}
.block2{
    position: relative;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 30px;
}
.d12{
    width: 200px;
    height: 200px;
   
    border-radius: 10px;
    padding: 10px;

}
.d22{
    width: 150px;
    height: 150px;
    
    border-radius: 100px;
    margin: auto;


}
.d33{
    padding: 10px;
    text-align: center;
    font-size: 18px;
    margin-top: 15px;
    color: rgba(0, 0, 0, 0.768);
    background-color: white;
    border-radius: 10px;
}
.d44{
    width: 180px;
    position: relative;
    left: -25px;
    bottom: 30px;

    
}
.block3{
    background-image:linear-gradient(rgba(255, 255, 255, 0.345), rgba(255, 255, 255, 0.416)), url(./img/dinner-set-sushi-rolls-salads-cocktails-hookah-side-view\ 1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: space-evenly;
    padding: 50px 0px;
}
.s1{
    display: flex;
    flex-wrap: wrap;
    width: 700px;
    gap: 20px;
}
.f12{
    background-color: #F2994A;
    color: white;
    border: solid 3px white;
    border-radius: 5px;
    padding: 10px;
    width: 670px;
    display: flex;
    align-items: center;
}
.covid{
    width: 80%;
    height: 120px;
    background-image: url(./img/Mask\ Group\ \(4\).png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    margin-top: 50px;
    border-radius: 10px;
    padding: 20px;
    color: white;
}
.sec4{
    text-align: center;
    width: 100%;
    height: 250px;
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}
.e2{
    width: 450px;
    height: 250px;
    font-size: 15px;
    text-align: center;
}
.e3{
    background-color: rgb(255, 255, 255);
    padding: 15px;
    border-radius: 50%;
    box-shadow: 0px 0px 5px 1px rgba(128, 128, 128, 0.496);
}
@media (max-width:510px) {
    .header{
        width: 100%;

        position: relative;
    }
    .covid{
        width: 80%;
        height: 280px;
    }
    .q1{
        width: 100%;
        gap: 70px;
        position: relative;
    }
    .q3{
        display: none;
    }
    .qq2{
        display: none;
    }
    .qq4{
        position: relative;
        left: -1px;
        left: 10px;
        width: 20%;
    }
    .q4{
        width: 100%;
        flex-direction: column-reverse;
    }
    .qimg{
        width: 100%;
        margin-top: 30px;
        align-items: center;
    }
    .w1{
        position: relative;
        bottom: 350px;
        text-align: center;
        margin: 0 auto;
    }
    .qb{
        width: 90%;
        
        margin: auto;
    }
    .p1{
        display: none;
    }
    .block1{
        
        width: 86%;
        flex-direction: column;
        border-bottom: solid 2px gainsboro;
        margin: auto;
    }
    .block2{
        width: 74%;
        flex-direction: column;
        margin: auto;
    }
    .d1{
        width: 90%;
        margin: auto;
        height: 250px;
    }
    .block3{
        flex-direction: column;
        width: 100%;
        height: 1220px;

    }
    .s1{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin-top: 20px;
        
    }
    .d12{
        width: 42%;
    }
    .f10{
        width: 60%;
        margin: auto;
    }
    .f12{
        width: 40%;
        text-align: center;
        display: block;
    }
    .sec4{
        flex-direction: column;
        width: 100%;
        
    }
    .e2{
        width: 90%;
        margin-top: 20px;
    }
}